<% provide(:title,'Sign Up') %>
<h1>Sign Up </h1>
<div class="container">
  <div class="jumbotron">
      <%= form_for @user do |t| %>
    <%= render 'shared/error_messages' %>
        <div class="form-group">
      <%= t.label :name %>
      <%= t.text_field :name, class: "form-control" %>
</div>
<div class="form-group">
      <%= t.label :email %>
      <%= t.email_field :email, class: "form-control" %>
</div>
<div class="form-group">
      <%= t.label :password %>
      <%= t.password_field :password, class: "form-control" %>
</div><div class="form-group">
      <%= t.label :password_confirmation , 'Confirmation' %>
      <%= t.password_field :password_confirmation, class: "form-control" %>
</div><br/>
      <%= t.submit "Submit", class: "btn btn-default" %>
      <% end %>
  </div>
</div>
